{% extends 'base.html' %}

{% block content %}
    <div class="container" style="min-height: 80vh">
        <div class="row mt-5">
            <div class="col-md-8">
                {% include 'app/partials/mypage/profile_info.html' %}
            </div>
            <div class="col-md-12">
                {% include 'app/partials/mypage/my_surveys.html' %}
                {% include 'app/partials/mypage/my_responses.html' %}
                {% include 'app/partials/mypage/my_comments.html' %}
            </div>
        </div>
    </div>
{% endblock %}
