{% if questions %}
    <table class="table table-hover mb-4">
        <tr>
            <th>번호</th>
            <th>문항 이름</th>
            <th>문항 타입</th>
        </tr>
        {% for question in questions %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ question.title }}</td>
                {% if question.question_type == 'SUBJECTIVE' %}
                    <td>주관식</td>
                {% else %}
                    <td>객관식</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endif %}