<h6 class="my-4">내가 만든 설문조사</h6>
{% if surveys %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">제목</th>
                <th scope="col">설명</th>
                <th scope="col">생성일</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% for survey in surveys %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ survey.title }}</td>
                    <td>{{ survey.description|slice:":20" }}...</td>
                    <td>{{ survey.created_at|date:"Y-m-d" }}</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a href="{% url 'app:survey_detail' survey.id %}"
                               class="btn btn-outline-secondary btn-sm">상세보기</a>
                            <a href="{% url 'app:survey_update' survey.id %}"
                               class="btn btn-outline-secondary btn-sm">수정하기</a>
                            <a href="{% url 'app:survey_delete' survey.id %}"
                               class="btn btn-outline-secondary btn-sm">삭제하기</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <p class="text-secondary">아직 만든 설문조사가 없습니다.</p>
{% endif %}
