{#<footer class="p-5 bg-body-secondary" style="margin-top: 120px">#}
{#    <h5 class="text-black-50">Form:at</h5>#}
{#    #}
{#</footer>#}
<footer class="bg-light text-black-50" style="margin-top: 120px; padding: 20px 0;">
    <div class="container py-4 text-center">
        <h6 class="text-black-50">Form:at</h6>
        <div class="row">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="https://github.com/hyeg0121/Format" class="text-black-50">GitHub</a></li>
                <li class="list-inline-item"><a href="mailto:w2218@e-mirim.hs.kr" class="text-black-50">Contact</a></li>
            </ul>
        </div>
        <small class="mb-0">&copy; {{ current_year }} Form:at. All rights reserved.</small>
    </div>
</footer>