<nav class="navbar navbar-expand-lg border-bottom border-body">
    <div class="container">
        <a class="navbar-brand" href="/">Form:at</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'app:create_survey' %}">설문조사 만들기</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'app:user_info' %}">마이페이지</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'common:logout' %}">로그아웃</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                </li>
                {% endif %}
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="설문조사를 검색하세요!" aria-label="검색">
            </form>
        </div>
    </div>
</nav>
