{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
    <div class="container my-5" style="min-height: 80vh">
        <h2 class="text-center">{{ survey.title }}</h2>
        <p class="text-muted text-center">{{ survey.description }}</p>
        <hr>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% if field.errors %}
                            <div>
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div>
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% for question in survey.questions.all %}
                <div class="card my-3">
                    <div class="card-body">
                        <h5 class="card-title">{{ question.title }}</h5>
                        {% if question.question_type == "SINGLE_CHOICE" %}
                            <div class="form-check">
                                {% with options_list=question.options|load_json %}
                                    {% for option in options_list %}
                                        <input class="form-check-input" type="radio" name="{{ question.id }}"
                                               id="option_{{ option }}" value="{{ option }}"
                                               {% if form.initial and form.initial|get_item:question.id == option %}checked{% endif %}>
                                        <label class="form-check-label" for="option_{{ option }}">
                                            {{ option }}
                                        </label><br>
                                    {% endfor %}
                                {% endwith %}
                            </div>
                        {% elif question.question_type == "SUBJECTIVE" %}
                            <div class="form-group">
                                <textarea class="form-control" name="{{ question.id }}" rows="3" required>{{ form.initial|get_item:question.id }}</textarea>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary">수정 제출</button>
        </form>
    </div>
{% endblock %}
