{% extends 'base.html' %}

{% block content %}
<div class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center my-4">설문조사 만들기</h2>
            <form method="post" enctype="multipart/form-data" class="p-4">
                {% csrf_token %}
                {% include "form_errors.html" %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">제출</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
