{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-8">
                <h4 class="mb-2">내 정보</h4>
                <ul>
                    <li>닉네임: {{ user.nickname }}</li>
                    <li>이메일: {{ user.email }}</li>
                    <li>가입일: {{ user.date_joined }}</li>
                </ul>
            </div>
            <h4 class="my-4">내가 만든 설문조사</h4>
            {% if surveys %}
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">제목</th>
                            <th scope="col">설명</th>
                            <th scope="col">생성일</th>
                            <th scope="col">상세보기</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for survey in surveys %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ survey.title }}</td>
                                <td>{{ survey.description }}</td>
                                <td>{{ survey.created_at }}</td>
                                <td><a href="{% url 'app:survey_detail' survey.id %}"
                                       class="btn btn-primary btn-sm">상세보기</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>아직 만든 설문조사가 없습니다.</p>
            {% endif %}

        </div>
    </div>
    </div>
{% endblock %}
